<div class="form-wrapper help">
  <h1 class="all-heading delete-heading">Delete adventure</h1>
  <img src="{{adv.imageUrl}}" alt="{{adv.title}}" id="image-delete"/>

  <form #deleteAdvForm="ngForm" (ngSubmit)="deleteAdvFunc(adv._id)">

    <div class="form-group">
      <label for="title">Title</label>
      <input disabled ngModel type="text" name="title" id="title"
        placeholder="{{adv.title}}" class="form-control">
    </div>

    <div class="form-group">
      <label for="destination">Destination</label>
      <input disabled ngModel type="text" name="destination" id="destination"
        placeholder="{{adv.destination}}" class="form-control">
    </div>

    <div class="form-group">
      <label for="description">Adventure description</label>
      <input disabled ngModel type="text" name="description" id="description"
        placeholder="{{adv.description | slice:0:20 }} ..." class="form-control">
    </div>

    <button type="submit" class="mybtn" id="deleteview-button">Delete</button>
  </form>
</div>
