<div class="form-wrapper help">
  <h1 class="allHeading">Add new category</h1>
  <form #createCatForm="ngForm" (ngSubmit)="createCatFunc()">

    <div class="form-group">
      <label for="name">Name</label>
      <input required minlength="3" ngModel #name="ngModel" type="text" name="name" id="name"
        placeholder="Enter category name" class="form-control">
      <div *ngIf="name.invalid && name.touched">
        <div *ngIf="name.errors.required" class="alert-danger">
          Name field is required!
        </div>
        <div *ngIf="name.errors.minlength" class="alert-danger">
          Category name must be at least 3 symbols.
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="createCatForm.invalid" class="mybtn">Create Category</button>
  </form>
</div>
